---
import BaseHead from "../components/BaseHead.astro";
import Blog from "./blog/index.astro";

import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";

const global = await directus.request(readSingleton("global"));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={global.title} description={global.description} />
	</head>
	<body>
		<Blog />
	</body>
</html>
